@keyframes ldio-xokuczejfml {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-xokuczejfml div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #74c46b;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-xokuczejfml div {
  animation: ldio-xokuczejfml 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-l2qdwq3j4w8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
}
.ldio-xokuczejfml {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-xokuczejfml div {
  box-sizing: content-box;
}
